<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
    <link rel="icon" type="image/svg+xml" href="/assets/mountainbgfavicon2.svg" />
    <title>GeoCave API</title>
  </head>
  <body class="bg-slate-900 h-screen grid place-content-center text-slate-300">
    <section class="text-center space-y-5">
      <h1 class="text-3xl font-medium p-10">Welcome to the GeoCave API</h1>
      <p>Thank you for visiting.</p>
      <p>We are currently in development. Please check back at another time for more info.</p>
    </section>
  </body>
</html>
