<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
    <title>GeoCave API: 404 Not Found!</title>
  </head>
  <body class="bg-slate-900 h-screen grid place-content-center text-slate-300">
    <section class="text-center">
      <h1 class="text-3xl font-medium p-10">GeoCave API: 404 Not Found!</h1>
      <p>The page you have requested does not exist.</p>
      <button
        onclick="window.location.href='/'"
        class="font-medium p-5 m-5 border rounded-lg hover:bg-slate-300 hover:text-slate-900"
      >
        Back to Homepage
      </button>
    </section>
  </body>
</html>
