@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
  @apply bg-primarybg p-6 md:p-6 flex flex-col justify-center md:m-auto md:w-4/5 animate-fadeIn shadow-lg rounded-lg shadow-black md:h-[90vh] w-screen relative;
}

.hoverScale {
  @apply hover:scale-90 transition duration-300;
}

@font-face {
  font-family: "ceraRoundPro";
  src: url("/fonts/CeraPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ceraRoundPro";
  src: url("/fonts/CeraPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ceraRoundPro";
  src: url("/fonts/CeraPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ceraRoundPro";
  src: url("/fonts/CeraPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
